<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="computer" class="com.sesam.formation.impl.ComputerAudited" >
        <property name="auditor">
            <bean class="com.sesam.formation.impl.AuditorLog4j" />
        </property>
    </bean>

    <bean id="bankSystem" class="com.sesam.formation.impl.BankSystemDefault" />

</beans>
